@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap");

.intro {
  padding-bottom: 32px;
}

.carousel {
  display: flex;
  flex-direction: column;

  vertical-align: middle;

  width: auto;
  height: 1450px;
  margin: auto;
  max-width: 1000px;
  padding: 32px;
  padding-bottom: 2px;

  background-color: black;

  margin-top: 50px;
}

.carouselInner {
  height: 140vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.carouselInner .left {
  flex: 2.5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.carouselInner .center {
  flex: 95%;
  height: 100%;
}

.carouselInner .right {
  flex: 2.5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.recipe-whole {
  background-color: lightblue;
}

.recipe-pic {
  font-family: "Unbounded", cursive;

  padding-top: 5px;
  padding-bottom: 5px;

  width: 100%;
  margin: auto;

  height: 102.5vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../images/recipeImage2.jpg);
  background-size: cover;
  background-position: cover;
}

.recipe-title {
  font-size: 150px;
  color: white;
}

.recipe-list {
  display: flex;
  flex-direction: column;

  vertical-align: middle;

  width: auto;
  margin: auto;
  max-width: 750px;
  padding: 32px 32px;
}

.recipe-container {
  padding: 32px 0px 32px 0px;

  vertical-align: middle;
  justify-content: center;
  align-items: center;

  width: 450px;
  height: auto;
}

.brocoli-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vegetable-title {
  color: rgb(6, 183, 6);
}
